@import "tailwindcss";

:root {
  --background: #fcfcfb;
  --foreground: #0f172a;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
}

input::placeholder,
textarea::placeholder {
  color: #94a3b8;
}
